<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="de.vogella.jdt.astsimple.commands.category">
      </category>
      <command
            name="Generate Tree"
            categoryId="de.vogella.jdt.astsimple.commands.category"
            id="de.vogella.jdt.astsimple.commands.sampleCommand">
      </command>
      <command
            name="Parse Method"
            categoryId="de.vogella.jdt.astsimple.commands.category"
            id="de.vogella.jdt.astsimple.commands.parseMethodCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="de.vogella.jdt.astsimple.commands.sampleCommand"
            class="de.vogella.jdt.astsimple.handlers.SampleHandler">
      </handler>
      <handler
            commandId="de.vogella.jdt.astsimple.commands.parseMethodCommand"
            class="br.uff.projetofinal.Parser">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.vogella.jdt.astsimple.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Vertical Code-Complete"
               mnemonic="V"
               id="de.vogella.jdt.astsimple.menus.sampleMenu">
            <command
                  commandId="de.vogella.jdt.astsimple.commands.sampleCommand"
                  mnemonic="G"
                  id="de.vogella.jdt.astsimple.menus.sampleCommand">
            </command>
            <command
                  commandId="de.vogella.jdt.astsimple.commands.parseMethodCommand"
                  mnemonic="P"
                  id="de.vogella.jdt.astsimple.menus.parseMethodCommand">
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
