<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.7"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="VCC Category"
            id="br.uff.vcc.commands.category">
      </category>
      <command
            name="Generate Tree"
            categoryId="br.uff.vcc.commands.category"
            id="br.uff.vcc.commands.generateTreeCommand">
      </command>
      <command
            name="Search for Patterns"
            categoryId="br.uff.vcc.commands.category"
            id="br.uff.vcc.commands.searchPatternsCommand">
     </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="br.uff.vcc.commands.generateTreeCommand"
            class="br.uff.vcc.plugin.handlers.GenerateTreeHandler">
      </handler>
      <handler
            commandId="br.uff.vcc.commands.searchPatternsCommand"
            class="br.uff.vcc.plugin.handlers.SearchPatternsHandler">
     </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="br.uff.vcc.commands.generateTreeCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="br.uff.vcc.commands.searchPatternsCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+ARROW_DOWN"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Vertical Code-Complete"
               mnemonic="V"
               id="br.uff.vcc.menus.vccMenu">
            <command
                  commandId="br.uff.vcc.commands.generateTreeCommand"
                  mnemonic="G"
                  id="br.uff.vcc.menus.generateTreeCommand">
            </command>
            <command
                  commandId="br.uff.vcc.commands.searchPatternsCommand"
                  mnemonic="P"
                  id="br.uff.vcc.menus.searchPatternsCommand">
           </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>